<div class="contact">
  <ul>
    <li>Nicolas Hachet</li>
    <li>Architecte d'entreprise</li>
    <li><span class="li-icon">{% include svg/pin-alt.svg %}</span><span>{{ site.address }}</span></li>
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
    <li><span class="li-icon">{% include svg/internet.svg %}</span><a href="{{ site.url }}">{{ site.url }}</a></li>
    <li><span class="li-icon">{% include svg/linkedin.svg %}</span><a href="https://www.linkedin.com/in/{{ site.social.linkedin }}">{{ site.social.linkedin }}</a></li>
  </ul>
</div>
