---
layout: default
---

<article>
  {% include header.html %}

  <div class="row">
    <div class="col-12 text-left mb-4">
      <a href="/" title="Accueil du site">{% include svg/home.svg %}</a>
      {% include svg/nav-arrow-right.svg %}
      <a href="/blog" title="Accueil du blog">Blog</a>
    </div>
  </div>

  <main>
    <h1 class="post-title">{{ page.title }}</h1>
    <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date: "%e %B %Y" }}</time>
    <p class="lead">{{ page.lead }}</p>

    {% if page.image %}
    <img class="caption__media" src="{{ page.image }}" alt="Image" loading="lazy" />
    {% endif %}

    {{ content }}
  </main>
  {% include footer.html %}
</article>
